<header>
    <nav class="navbar navbar-expand-lg navbar-light <% if(address && address == 'home') {%> navbar-home <% } %>"
        id="header">

        <!-- Brand Name -->
        <a class="navbar-brand" href="/">MeMe.</a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation  -->
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <% if (address && address == 'home') {%> active <%} %>">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item <% if (address && address == 'service') {%> active <%} %>">
                    <a class="nav-link" href="/services">Services</a>
                </li>
                <li class="nav-item <% if (address && address == 'about') {%> active <%} %>">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>

            <!-- Login Info -->
            <a href="/login"><button class="btn navbar__login-btn" type="button">Log
                    In</button></a>

        </div>
    </nav>
</header>