<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="./img/home.png" alt="First slide">
            <div class="carousel-caption d-none d-md-block home-caption">
                <h5>More than a wallet</h5>
                <h1><span class="home-underline">Easy</span> way</h1>
                <h1>to manage</h1>
                <h1>your <mark>money</mark></h1>
                <p>Connect to your friends and brands</p>
                <!-- <p>The whole caption will only show up if the screen is at least medium size.</p> -->
            </div>
        </div>
    </div>
</div>